# for deployment
DEPLOYER_PRIVATE_KEY=
DEPLOYER_WALLET_ADDRESS=
RPC_URL=

# for verification on explorers
ETHERSCAN_API_KEY=

{% if cookiecutter.use_tenderly == 'y' %}# for Tenderly Virtual TestNets
TENDERLY_ACCESS_KEY=
TENDERLY_ACCOUNT_NAME=
TENDERLY_PROJECT_NAME=
HUNDRED_ETH=100000000000000000000
{% endif %}

{% if cookiecutter.use_zeus == 'y' %}# for zeus deployment demo scripts
ZEUS_ENV_DEPLOYER=
ENVIRONMENT_TYPE=
{% endif %}